* {
    color: white
}

.collection-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30em;
    margin-right: 300px;
    z-index: 1;
    position: relative;
    padding: 5em;
}

.img-collection-1 {
    background-image: url(https://placehold.co/400x400);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
}
.txt-collection-1 {
    width: 30vw;
    background-color: rgba(0, 0, 0, 0.509);
    padding: 3em;
}

.collection-1 p:nth-child(2) {
    margin: 20px 0 20px 0;
    color: var(--bittersweet);
    font-weight: 500;
    font-size: 2em;
}

.collection-1 p:nth-child(3) {
    color: var(--babypowder);
    font-weight: 300;
    font-size: 1em;
}

.background-collection-1 {
    position: absolute;
    height: 700px;
    width: 100%;
    background-image: url(/store/media/cyberneonCollection.jpg);
    background-position: top;
    background-size: cover;
    z-index: -1;
    filter: grayscale(70%) blur(5px);
    clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
}