.banner {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.one {
    grid-area: 1 / 1 / 2 / 2;
}

.two {
    grid-area: 1 / 2 / 2 / 3
}

.one, .two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    transition: 0.5s ease-in-out;
}

.one .background, .two .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    filter: brightness(100%);
    transition: 0.5s;
}

.one .background {
    background-image: url(/store/media/imgCyber1.jpg);
}

.two .background {
    background-image: url(/store/media/imgCyber2.jpg);
}

.one:hover .background, .two:hover .background {
    cursor: pointer;
    filter: brightness(50%);
    transition: 0.5s;
}

.one h2, .two h2, .one p, .two p {
    margin: 0;
    z-index: 99;
    color: #FFF;
    font-size: 2em;
}

.one h2, .one p, .two h2, .two p {
    opacity: 0;
    transition: 0.5s;
}

.one:hover h2, .two:hover h2, .one:hover p, .two:hover p {
    opacity: 1;
}

.newsContainer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.news {
    color: #FFF;
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin: 0 auto;

    width: 1000px;
    height: 350px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

    border: 1px solid var(--bittersweet);
}

.newsContainer h2 {
    margin: 100px 0 50px 50px;
    font-size: 3em;
    color: var(--baby-powder);
}

.product {
    width: 1000px;
    height: 350px;
    transition: all 0.5s ease-in-out;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product h3 {
    font-size: 2em;
    margin-top: 10px;
}

.product img {
    border-radius: 5px;
}

.product p {
    margin-top: 5px;
}

.crslButton {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #FFF;
    font-size: 18px;
    top: 45%;

    transition: all .1s ease-in-out;
}
.crslButton:active {
    transform: scale(1.1);
}
.crslNext {
    right: 2%;
}
.crslPrev {
    left: 2%;
}