{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'store/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/collections.css' %}">
    <title>Silverhand | Collections</title>
</head>
<body>

    {% block content %}
    {% include 'header.html' %}
    {% endblock %}

    <main>
        <div class="background-collection-1"></div>
        <section class="collection-1">
            <div class="txt-collection-1">
                <p>
                    Introducing the "Cyberneon" Collection: A New Era of Futuristic Fashion
                </p>
                <p>
                    Get ready to embrace a bold and daring new aesthetic. 
                </p>
                <p>
                    This collection of clothing and cybernetic implants is inspired by the iconic cyberpunk genre, blending the futuristic with the retro in a way that is both edgy and exciting.
                    
                    Each piece in the Cyberneon Collection is designed to be attention-grabbing and vibrant, with neon colors and flashing lights that demand to be noticed. Whether you're looking for a sleek bodysuit, a statement jacket, or even a cutting-edge implant, this collection has everything you need to make a bold fashion statement.
                </p>
            </div>

            <div class="img-collection-1">

            </div>
        </section>
    </main>
    
</body>
</html>