{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'store/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'store/css/contact.css' %}">
</head>
<body>
    {% block content %}
    {% include 'header.html' %}
    {% endblock %}

    <main>

        <div class="speech">
            <p>If you have any complaints*, questions, or technical issues, please do not hesitate to contact us! Our average response time is 7 milliseconds, so you can expect to hear back from us very quickly. We are committed to providing exceptional customer service, and we will do everything we can to resolve any issues or answer any questions you may have. Your satisfaction is our top priority, and we appreciate your business.</p>
        </div>
        <section>
            <form action="#" method="post">
                <h2>Contact Us</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Send">
                </div>
            </form>
        </section>

        <div class="speech2">
            <p>*Please note that in case of a serious accident or symptoms of technopsychosis, Silverhand e-shop cannot be held responsible. We may sell cutting-edge technology, but we cannot be held accountable for any unforeseen consequences! This includes, but is not limited to, the following: radiation sickness, electromagnetic hypersensitivity, cybernetic malfunction, cyberspace addiction, cyberpsychosis, artificial intelligence sentience, unexpected time travel, reality distortion, and accidental telekinesis. However, we will still do our best to assist you with any issues you may have. Please be aware that even death will not be a grounds for refund. Just remember that while we are committed to providing the best possible customer service, we cannot be held liable for the side effects of using our products or services.</p>
        </div>

    </main>
</body>
</html>