<header>
    <nav class="navbar">
        <ul class="navLinks">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'best_sellers' %}">Best-sellers</a></li>
            <li><a href="{% url 'categories' %}">Categories</a></li>
            <li><a href="{% url 'about' %}">About Silverhand</a></li>
            <li><a href="{% url 'contact' %}">Contact us</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>